<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div style="display: block; max-width: 700px; margin: 0 auto;">

  <header style="width: 100%; border-top: solid 6px #64b5f6;">
    <img th:src="@{classpath:/images/logo.png}" style="height: 50px; padding: 10px 0 10px 20px;">
  </header>

  <div style="padding: 0 20px;">
    <p style="font-size: 18px; font-weight: 700; margin-top: 40px;">안녕하세요, <span style="color: #42a5f5;"> S-market 에서 요청하신 인증번호를 보내드립니다.</span></p>

    <h1 style="text-align: center; padding: 48px 0; color: #42a5f5;" th:text="${code}"></h1>

    <p style="font-size: 18px; font-weight: 700;">위 인증번호 6자리를 인증번호 입력창에 입력해주세요.</p>

    <p style="padding-top: 34px; font-size: 14px;">본인이 인증번호를 요청하지 않았을 경우 본 이메일을 무시해주세요.</p>
    <p style="font-size: 14px;">Please ignore this email if you did not request a verification code.</p>

    <p style="padding-top: 34px; font-size: 14px;">본 메일은 발신 전용입니다.</p>
    <p style="margin-bottom: 40px;">Copyright ⓒ Team. 팀이름 All rights reserved.</p>
  </div>

  <footer style="height: 60px; background-color: #64b5f6; border-top: 3px solid #bbdefb;"></footer>
</div>
</body>

</html>